# BACKEND
DEV=true
OPENAI_API_KEY=

DATABASE=postgres
SQL_HOST=db
SQL_PORT=5432

POSTGRES_DB=tutorDb
POSTGRES_USER=localUser
POSTGRES_PASSWORD=password

DATABASE_URL=postgresql+asyncpg://localUser:password@db:5432/tutorDb

# FRONTEND
# REACT_APP_BACKEND_URL=http://localhost:8000
VITE_API_URL=http://localhost:8000
# Lifetime values in seconds
# REACT_APP_ACCESS_TOKEN_LIFETIME=3600
# REACT_APP_REFRESH_TOKEN_LIFETIME=86400