# BACKEND
DEV=true
OPENAI_API_KEY="api-key"
SECRET_KEY="supersecretkey"
# Use this to seed the database with flashcards on startup
SEED_FLASHCARDS=true

# Database configuration simulating Databricks environment variables
PGHOST=db
PGPORT=5432
PGDATABASE=tutor_db
PGUSER=localUser
DATABRICKS_CLIENT_SECRET=password

# PostgreSQL configuration for docker-compose db service
POSTGRES_DB=$PGDATABASE
POSTGRES_USER=$PGUSER
POSTGRES_PASSWORD=$DATABRICKS_CLIENT_SECRET

# FRONTEND
VITE_API_URL=http://localhost:8000

# COMMON
ACCESS_TOKEN_EXPIRE_SECONDS=86400