# BACKEND
DEV=true
OPENAI_API_KEY="api-key"
SECRET_KEY="supersecretkey"

SQL_HOST=db
SQL_PORT=5432

POSTGRES_DB=tutor_db
POSTGRES_USER=localUser
POSTGRES_PASSWORD=password

DATABASE_URL=postgresql+asyncpg://localUser:password@db:5432/tutor_db
ADMIN_DATABASE_URL=postgresql://postgres:password@db:5432/postgres

# FRONTEND
VITE_API_URL=http://localhost:8000

# COMMON
ACCESS_TOKEN_EXPIRE_SECONDS=86400